{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About</h1>

<p>Hej mitt namn är Emil. Denna webbsida är ett resultat av första kursmomentet i den nya kursen.</p>

<p class="numbers">Run <a href="{{ path("lucky-number") }}">numbers</a></p>

{% endblock %}
