<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel= "icon" href="favicon.ico">   
        <link rel= "stylesheet" href="css/style.css"/>
    </head>
    <body>

        <div class="siteheader">
            Emilz
        </div>

        <div class="navbar">
                    <a href="{{ url("home") }}">HOME</a>
                    <a href="{{ path("about") }}">ABOUT</a>
                    <a href="{{ path("report") }}">REPORT</a>
                    <a href="{{ path("debug") }}">DEBUG</a>
        </div>

        {% block content %}
        Default content
        {% endblock %}

        <div class="sitefooter">
            ©Emilz 2022
        </div>

    </body>
</html>
