{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="homepic">
<img src="img/emil.gif" width="500px" alt="mos">
<p><a href="{{ absolute_url("img/emil.gif") }}">View image</a></p>
</div>

{% endblock %}
